<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Nuevo autor
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <form  #form="ngForm" (ngSubmit)="newAuthor(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="10" size-lg="8" size-xs="12">
            <div text-center>
              <h3>Datos del autor</h3>
            </div>
            <div padding>
              <ion-item>
                <ion-input id="names" name="names" type="text" placeholder="Nombres" [(ngModel)]="names" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input id="lastNames" name="LasNames" type="text" placeholder="Apellidos" [(ngModel)]="lastNames" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-datetime [ngModelOptions]="{standalone: true}" displayFormat="DD MMMM YYYY" placeholder="Fecha de nacimiento" [(ngModel)]="birthDate" style="margin-left: -2%"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-input id="numberBooks" name="numberBooks" type="number" placeholder="Número de libros" [(ngModel)]="numberBooks" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-checkbox [(ngModel)]="ecuatorian" [ngModelOptions]="{standalone: true}" placeholder=""></ion-checkbox>
                <p style="margin-left: 2%">¿Ecuatoriano?</p>
              </ion-item>
            </div>
            <div padding>
              <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Ingresar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  
  
  </ion-content>
  